.player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	.layers {
		position: absolute;
		bottom: 0;
		left: 0;
		.track__image {
			width: 4em;
			height: 4em;
			display: block;
			padding: 0.5em;
			vertical-align: middle;
			border-right: 1px solid #ccc;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	.track {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 100px;
		.track__items {
			display: flex;
			flex-direction: column;
			.track__title {
			}
		}
		
	}
}

