extends layout

block body
	.artists
		h2 Top artists
		.artists__container
			ul.artists__items
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
				li.artists__item
					a.artist(href="/")
						img(src="https://artistxite.de/imgcache/editorial/1375954492moderat_logo_digital_full.jpg")
			span.arrow-down
				svg.icon__image(width="25", height="25")
					use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#double-arrow-down")
			a.artists__link(href="/") All artists
	.tracklist 
		ul.top__links
			li.top__link.current( data-tab="top-1") Top songs
			li.top__link(data-tab="top-2") Top albums
		.slide__link
		ol.tracklist__items.top-content.current#top-1 
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
		ol.tracklist__items.top-content#top-2
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34
			li.tracklist__item
				span Moderat
				span A new error
				span 
					span.track-current-time 0:02
					span.track-sep-duration  / 
					span.track-duration 5:34

